<div class="flex-container">
    <div class="content">
        <app-nav-menu>
            <app-nav-item routerLink="/navigator" [queryParams]="{tab: 0}" routerLinkActive="active">Income</app-nav-item>
            <app-nav-item routerLink="/navigator" [queryParams]="{tab: 1}" routerLinkActive="active">Outcome</app-nav-item>
            <app-nav-item routerLink="/navigator" [queryParams]="{tab: 2}" routerLinkActive="active">Loans</app-nav-item>
            <app-nav-item routerLink="/navigator" [queryParams]="{tab: 3}" routerLinkActive="active">Investments</app-nav-item>
        </app-nav-menu>

        <table class="table">
            <tr *ngFor="let user of users">
                <td>{{user.name.first + ' ' + user.name.last}}</td>
                <td>{{user.amount}}</td>
            </tr>
        </table>
    </div>
</div>
