<div class="flex-container">
    <div class="content">
        <app-nav-menu>
            <app-nav-item *ngFor="let type of types; let i=index" routerLink="/navigator" [queryParams]="{tab: i}" routerLinkActive="active">{{type | titlecase}}</app-nav-item>
        </app-nav-menu>

        <table class="table">
            <tr *ngFor="let user of users">
                <td>{{user.name.first + ' ' + user.name.last}}</td>
                <td>{{user.amount}}</td>
            </tr>
        </table>
    </div>
</div>
